# **<u>Cleaning the velib emplacement des stations data:</u>**

In [1]:
import pandas as pd

## **<u>Loading the data using Pandas:</u>**

In [145]:
df = pd.read_csv('../../../covid_file.csv')

In [146]:
df['date'] = pd.to_datetime(df['date']).dt.date
df = df.groupby('date').mean().reset_index()
df

           date
0    2020-09-01
1    2020-09-02
2    2020-09-03
3    2020-09-04
4    2020-09-05
..          ...
369  2021-09-05
370  2021-09-06
371  2021-09-07
372  2021-09-08
373  2021-09-09

[374 rows x 1 columns]

In [147]:
def assign_lockdown_level(date):
    date = pd.Timestamp(date)
    if pd.Timestamp('2020-09-01') <= date <= pd.Timestamp('2020-10-29'):
        return 0
    elif pd.Timestamp('2020-10-30') <= date <= pd.Timestamp('2020-11-27'):
        return 1
    elif pd.Timestamp('2020-11-28') <= date <= pd.Timestamp('2020-12-14'):
        return 1
    elif pd.Timestamp('2020-12-15') <= date <= pd.Timestamp('2021-01-17'):
        return 0
    elif pd.Timestamp('2021-01-18') <= date <= pd.Timestamp('2021-04-02'):
        return 0
    elif pd.Timestamp('2021-04-03') <= date <= pd.Timestamp('2021-05-02'):
        return 1
    elif pd.Timestamp('2021-05-03') <= date <= pd.Timestamp('2021-05-18'):
        return 1
    elif pd.Timestamp('2021-05-19') <= date <= pd.Timestamp('2021-06-08'):
        return 0
    elif pd.Timestamp('2021-06-09') <= date <= pd.Timestamp('2021-09-10'):
        return 0

# Create the new 'lockdown_level' column
df['lockdown_level'] = df['date'].apply(assign_lockdown_level)

In [148]:
df

           date  lockdown_level
0    2020-09-01               0
1    2020-09-02               0
2    2020-09-03               0
3    2020-09-04               0
4    2020-09-05               0
..          ...             ...
369  2021-09-05               0
370  2021-09-06               0
371  2021-09-07               0
372  2021-09-08               0
373  2021-09-09               0

[374 rows x 2 columns]

In [149]:
df['date'] = pd.to_datetime(df['date']) 

df['date'].dtype

dtype('<M8[ns]')

In [150]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

df = df.drop(['date'], axis=1)
df.tail(50)

     lockdown_level  year  month  day
324               0  2021      7   22
325               0  2021      7   23
326               0  2021      7   24
327               0  2021      7   25
328               0  2021      7   26
329               0  2021      7   27
330               0  2021      7   28
331               0  2021      7   29
332               0  2021      7   30
333               0  2021      7   31
334               0  2021      8    1
335               0  2021      8    2
336               0  2021      8    3
337               0  2021      8    4
338               0  2021      8    5
339               0  2021      8    6
340               0  2021      8    7
341               0  2021      8    8
342               0  2021      8    9
343               0  2021      8   10
344               0  2021      8   11
345               0  2021      8   12
346               0  2021      8   13
347               0  2021      8   14
348               0  2021      8   15
349               0  2021      8   16
350               0  2021      8   17
351               0  2021      8   18
352               0  2021      8   19
353               0  2021      8   20
354               0  2021      8   21
355               0  2021      8   22
356               0  2021      8   23
357               0  2021      8   24
358               0  2021      8   25
359               0  2021      8   26
360               0  2021      8   27
361               0  2021      8   28
362               0  2021      8   29
363               0  2021      8   30
364               0  2021      8   31
365               0  2021      9    1
366               0  2021      9    2
367               0  2021      9    3
368               0  2021      9    4
369               0  2021      9    5
370               0  2021      9    6
371               0  2021      9    7
372               0  2021      9    8
373               0  2021      9    9

In [151]:
df.to_csv("covid_data_v1.csv", index=False)