# **<u>Cleaning and adapting the fuel price data:</u>**

In [1]:
import pandas as pd

## **<u>Loading the data using Pandas:</u>**

In [304]:
df = pd.read_csv('../external_data/fuel_price_index.csv', sep=';')

# df = pd.read_csv('../external_data/gazole_price.csv', sep=';')
# df_1 = pd.read_csv('../external_data/sp_95_price.csv', sep=';')

In [305]:
# df = df.drop([0,1,2], axis=0)

In [306]:
df.head()

      Date CNR NGV fuel index
0  2020-01             105,24
1  2020-02              97,50
2  2020-03              92,06
3  2020-04              94,59
4  2020-05              87,77

In [307]:
# df_1 = df_1.drop([0,1,2], axis=0)

In [308]:
# df_1.head()

## **<u>Merging the two datasets:</u>**

In [309]:
# df = df.rename(columns={'Label': 'Libellé'})

In [310]:
# merged_df = pd.merge(df, df_1, on='Libellé')

In [311]:
# merged_df = merged_df.drop(['Codes_x', 'Codes_y'], axis=1)

In [312]:
# merged_df.head()

## **<u>Checking for null values:</u>**

In [313]:
df.isna().sum().sort_values(ascending=False)

# merged_df.isna().sum().sort_values(ascending=False)

Date                  0
CNR NGV fuel index    0
dtype: int64

-> In this case, the data doesn't contain null values, so we can proceed with the next step

## **<u>Modifying the dataset's columns:</u>**

first let's split the 'Date' column into year and month and delete it:

In [314]:
df['year'] = df['Date'].str.split('-').str[0]
df['month'] = df['Date'].str.split('-').str[1]

df = df.drop(['Date'], axis=1)

# merged_df['year'] = merged_df['Libellé'].str.split('-').str[0]
# merged_df['month'] = merged_df['Libellé'].str.split('-').str[1]

# merged_df = merged_df.drop(['Libellé'], axis=1)

# df['year'] = df['Libellé'].str.split('-').str[0]
# df['month'] = df['Libellé'].str.split('-').str[1]

# df = df.drop(['Libellé'], axis=1)

# df_1['year'] = df_1['Libellé'].str.split('-').str[0]
# df_1['month'] = df_1['Libellé'].str.split('-').str[1]

# df_1 = df_1.drop(['Libellé'], axis=1)

In [315]:
df

   CNR NGV fuel index  year month
0              105,24  2020    01
1               97,50  2020    02
2               92,06  2020    03
3               94,59  2020    04
4               87,77  2020    05
5               85,38  2020    06
6               85,12  2020    07
7               83,37  2020    08
8               88,36  2020    09
9               92,10  2020    10
10              94,82  2020    11
11              98,16  2020    12
12             101,27  2021    01
13             105,78  2021    02
14             101,15  2021    03
15             102,63  2021    04
16             109,52  2021    05
17             119,68  2021    06
18             123,99  2021    07
19             130,66  2021    08
20             147,76  2021    09
21             178,22  2021    10
22             213,98  2021    11
23             215,43  2021    12

In [316]:
# df_1.drop(columns=['Codes'], axis=1, inplace=True)
# df_1.head()

In [317]:
# merged_df.columns.values[0] = 'Diesel_price_index'
# merged_df.columns.values[1] = 'SP95_price_index'

# df.columns.values[0] = 'Diesel_price_index'
# df.columns.values[1] = 'SP95_price_index'

# df_1.columns.values[0] = 'SP95_price_index'

In [318]:
# merged_df.head()

# df_1.head()

In [319]:
# df_1

In [294]:
# df = df.drop(['SP95_price_index'], axis=1)

next we turn the fuel index values' data type from 'object' to 'float':

In [321]:
df['CNR NGV fuel index'] = df['CNR NGV fuel index'].str.replace(',', '.').astype(float)

# merged_df['Diesel_price_index'] = merged_df['Diesel_price_index'].str.replace(',', '.').astype(float)
# merged_df['SP95_price_index'] = merged_df['SP95_price_index'].str.replace(',', '.').astype(float)

# df_1.iloc[:, 0] = df_1.iloc[:, 0].astype(str).str.replace(',', '.').astype(float)

In [322]:
# merged_df.head()

df.head()

   CNR NGV fuel index  year month
0              105.24  2020    01
1               97.50  2020    02
2               92.06  2020    03
3               94.59  2020    04
4               87.77  2020    05

## **<u>Creating a csv file with the cleaned data:</u>**

In [323]:
# merged_df.to_csv("fuel_index_v1.csv", index=False)

df.to_csv("fuel_index_v1.csv", index=False)